#introduction
{
font-size: 20px;
    font-family: 'Times New Roman', serif;
    background-color: #afaaaa;
    font-color: #b8d5e3;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}
body{
    background-color:aqua
}